{% extends 'layouts/app.html.twig' %}

{% block main %}

    <h1>Hello {{ widgetName }}</h1>
    <p>Welcome to the home page of our application!</p>
    <p>This template is being rendered by Twig.</p>

{% endblock %}